.weatherLocationCont {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
  min-width: 430px;
  padding: 25px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 8px 63px -10px rgba(0,0,0,0.75);
  cursor: pointer;
}

@media (max-width: 425px) {
  .weatherLocationCont {
    min-width: 300px;
  }
}